name: build_and_test
on: [push]
jobs:
  runner:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - run: go build .
      - run: go test -v ./...
